html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/*List used in message log and participant listing*/
.list-pane {
	list-style-type:none;
	padding:20px;
	margin:0px;
}

/*Container for message log*/
#messages-pane {
    padding: 0;
    margin: 0;
    overflow: scroll;
    min-height: 300px;
    background-color:white;
}

/*Text box to send a message*/
#message-form {
    padding: 0;
    margin: 0;
    width: 65%;
}

/*Container for participant listing*/
#participants-list {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100px;
    right: 20px;
    bottom: 100px;
    width: 250px;
    overflow: scroll;
    background-color:white;
}

/*Container for form to invite more participants*/
#invite-container {
    padding: 0;
    margin: 0;
    float: right;
    width: 30%;
}

#invite-container select[name="invite"] {
  width: 80%;
}

/*Bar on the bottom*/
#statusbar-container {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
}
